supported_targets:
- icam-540
default_target: icam-540
src_dir: ../../
distro:
  channel: apollo-edge
  version: 0.1.0
runtimes:
  dev:
    extensions:
      - avocado-ext-dev
      - avocado-bsp-{{ avocado.target }}
      - config
      - app
    packages:
      avocado-img-bootfiles: '*'
      avocado-img-rootfs: '*'
      avocado-img-initramfs: '*'
    icam-540:
      packages:
        avocado-img-tegraflash: '*'
extensions:
  avocado-ext-dev:
    source:
      type: package
      version: '*'
  avocado-bsp-{{ avocado.target }}:
    source:
      type: package
      version: '*'
  app:
    types:
    - sysext
    - confext
    version: 0.1.0
    packages:
      i2c-tools: '*'
      pylon: '*'
      pylon-dev: '*'
      v4l-utils: '*'
      opencv: '*'
      gstreamer1.0: '*'
      gstreamer1.0-plugins-base-videoconvertscale: '*'
      gstreamer1.0-plugins-good-jpeg: '*'
      gstreamer1.0-plugins-good-rtp: '*'
      gstreamer1.0-plugins-good-udp: '*'
      gstreamer1.0-plugins-good-multipart: '*'
      gstreamer1.0-plugins-base-tcp: '*'
      gstreamer1.0-plugins-bad-mpegtsmux: '*'
      gstreamer1.0-plugins-nvvidconv: '*'
      gstreamer1.0-plugins-nvjpeg: '*'
      gst-plugin-pylon: '*'
      usbutils: '*'
      udev-hwdb: '*'
  config:
    types:
    - confext
    version: 0.1.0
    users:
      root:
        password: ''
sdk:
  image: docker.io/avocadolinux/sdk:{{ config.distro.channel }}
  packages:
    avocado-sdk-toolchain: "{{ config.distro.version }}"
    nativesdk-avocado-ext-dev: "*"
  icam-540:
    packages:
      nativesdk-util-linux-mount: '*'
    container_args:
    - --network=host
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
provision_profiles:
  tegraflash:
    container_args:
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
