supported_targets:
- icam-540
default_target: icam-540
src_dir: ../../
runtime:
  dev:
    dependencies:
      avocado-img-bootfiles: '*'
      avocado-img-rootfs: '*'
      avocado-img-initramfs: '*'
      avocado-ext-dev:
        ext: avocado-ext-dev
        config: extensions/dev/avocado.toml
      avocado-bsp:
          ext: avocado-bsp-{{ avocado.target }}
          config: bsp/{{ avocado.target }}/avocado.toml
      config:
        ext: config
      app:
        ext: app
    icam-540:
      dependencies:
        avocado-img-tegraflash: '*'
ext:
  app:
    types:
    - sysext
    - confext
    version: 0.1.0
    dependencies:
      i2c-tools: '*'
      pylon: '*'
      pylon-dev: '*'
      v4l-utils: '*'
      opencv: '*'
      gstreamer1.0: '*'
      gstreamer1.0-plugins-base-videoconvertscale: '*'
      gstreamer1.0-plugins-good-jpeg: '*'
      gstreamer1.0-plugins-good-rtp: '*'
      gstreamer1.0-plugins-good-udp: '*'
      gstreamer1.0-plugins-good-multipart: '*'
      gstreamer1.0-plugins-base-tcp: '*'
      gstreamer1.0-plugins-bad-mpegtsmux: '*'
      gstreamer1.0-plugins-nvvidconv: '*'
      gstreamer1.0-plugins-nvjpeg: '*'
      gst-plugin-pylon: '*'
      usbutils: '*'
      udev-hwdb: '*'
  config:
    types:
    - confext
    version: 0.1.0
    users:
      root:
        password: ''
sdk:
  image: avocadolinux/sdk:apollo-edge
  dependencies:
    avocado-sdk-toolchain: '*'
  icam-540:
    dependencies:
      nativesdk-util-linux-mount: '*'
    container_args:
    - --network=host
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
provision:
  tegraflash:
    container_args:
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
