default_target: raspberrypi5
supported_targets:
- raspberrypi5
distro:
  channel: apollo-edge
  version: 0.1.0
runtimes:
  dev:
    extensions:
      - avocado-ext-dev
      - avocado-ext-sshd-dev
      - avocado-bsp-{{ avocado.target }}
      - config
      - app
    packages:
      avocado-img-bootfiles: '*'
      avocado-img-rootfs: '*'
      avocado-img-initramfs: '*'
extensions:
  avocado-ext-dev:
    source:
      type: package
      version: '*'
  avocado-ext-sshd-dev:
    source:
      type: package
      version: '*'
  avocado-bsp-{{ avocado.target }}:
    source:
      type: package
      version: '*'
  app:
    types:
    - sysext
    - confext
    version: 0.1.0
    packages: {}
  config:
    types:
    - confext
    version: 0.1.0
    users:
      root:
        password: ''
sdk:
  image: docker.io/avocadolinux/sdk:{{ config.distro.channel }}
  packages:
    avocado-sdk-toolchain: "{{ config.distro.version }}"
    nativesdk-avocado-ext-dev: "*"
  raspberrypi5:
    container_args:
    - --network=host
provision_profiles:
  img:
    container_args:
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
  sd:
    container_args:
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
