default_target: "{target}"

# Add additional supported targets or use "*" for all targets
supported_targets:
  - {target}

##
## Distribution
##

distro:
  channel: apollo-edge
  version: 0.1.0

##
## Runtimes
##

runtimes:
  dev:
    extensions:
      - avocado-ext-dev
      - avocado-ext-sshd-dev
      - avocado-bsp-{{ avocado.target }}
      - config
      - app
    packages:
      avocado-runtime: "{{ avocado.distro.version }}"

##
## Extensions
##

extensions:
  avocado-ext-dev:
    source:
      type: package
      version: "*"

  avocado-ext-sshd-dev:
    source:
      type: package
      version: "*"

  avocado-bsp-{{ avocado.target }}:
    source:
      type: package
      version: "*"

  # Generated default app extension
  # Use or modify this to install dependencies and or include sdk compiled code
  app:
    types:
      - sysext
      - confext
    version: "0.1.0"

    # Install additional application dependencies
    #packages:
      #curl: "*"
      #iperf3: "*"

  # Generated default config extension
  # Use or modify this to configure "real" user accounts (passwd, shadow, group)
  # or configure other system services
  config:
    types:
      - confext
    version: "0.1.0"

    # NOT FOR PRODUCTION: Set root password to empty string
    users:
      root:
        password: ""

##
## SDK
##

sdk:
  image: "docker.io/avocadolinux/sdk:{{ config.distro.channel }}"

  container_args:
    - --privileged
    - --network=host
    - -v /dev:/dev
    - -v /sys:/sys

  packages:
    avocado-sdk-toolchain: "{{ config.distro.version }}"
