default_target: jetson-orin-nano-devkit
supported_targets:
- jetson-orin-nano-devkit
distro:
  channel: apollo-edge
  version: 0.1.0
runtimes:
  dev:
    extensions:
      - avocado-bsp-{{ avocado.target }}
      - config
      - app
    packages:
      avocado-img-bootfiles: '*'
      avocado-img-rootfs: '*'
      avocado-img-initramfs: '*'
    jetson-orin-nano-devkit:
      packages: {}
extensions:
  avocado-bsp-{{ avocado.target }}:
    source:
      type: package
      version: '*'
  app:
    types:
    - sysext
    - confext
    version: 0.1.0
    packages: {}
  config:
    types:
    - confext
    version: 0.1.0
    users:
      root:
        password: ''
sdk:
  image: docker.io/avocadolinux/sdk:{{ config.distro.channel }}
  packages:
    avocado-sdk-toolchain: "{{ config.distro.version }}"
  jetson-orin-nano-devkit:
    container_args:
    - --network=host
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
    packages:
      nativesdk-util-linux-mount: '*'
      nativesdk-tegraflash-tools: '*'
provision_profiles:
  tegraflash:
    container_args:
    - -v
    - /dev:/dev
    - -v
    - /sys:/sys:ro
    - --privileged
